:root {
	--max-w-xl: 1280px;
	--max-w-lg: 1024px;

	--primary: #c62e2e;
	--secondary: #f95454;
	--tertiary: #77cdff;
	--light: #feeeef;
	--dark: #0f0f0f;

	--vh-primary: 92.5vh;
	--vh-secondary: 7.5vh;
}

::-webkit-scrollbar {
    display: none;
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

html {
	scroll-behavior: smooth;
    scroll-padding-top: var(--vh-secondary);
}

body {
	padding: 0;
	margin: 0;
	background: var(--tertiary);
	color: var(--dark);

    /* * STATIC POSITION zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
    position: static;
}

header {
	background: var(--primary);
	color: var(--light);
    box-shadow: 0 0 10px var(--dark);

    /* * STICKY POSITION zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    
}

.page2 {
    background-image: url("");
    background-size: cover;
    background-position: center;
}

.header {
	height: var(--vh-secondary);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header div h1 {
	padding: 0;
	margin: 0;
}

.header nav ul {
	list-style: none;

	display: flex;
	gap: 16px;
}

.header nav ul li a {
    text-decoration: none;
    color: var(--light);

    /* * RELATIVE POSITION zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        width: 0;
        height: 1px;

        /* * ABSOLUTE POSITION zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
        position: absolute;
        bottom: 0;
        background: var(--tertiary);
        transition: all .25s ease;

    }

    /* * HOVER POSITION zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
    &:hover {
        color: rgb(193, 193, 193);

        &::after {
            width: 100%;
        }
    }
}

footer {
    width: 100%;
    background: var(--primary);
    color: var(--light);
    box-shadow: 0 0 10px var(--dark);
    padding: 14px 24px;
    text-align: center;

    /* * FIXED POSITION zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;

    &>p>a {
        color: var(--tertiary);
    }

}

main {
    min-height: var(--vh-primary);
}

.intro-section {

	display: flex;
}

.intro-section .intro-section-div1 {
	max-width: 50%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro-section-div1 h2 {
	margin: 0;
}

.intro-section .intro-section-div2 {
	min-width: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.intro-section .intro-section-div2 img {
	width: 375px;
	height: 375px;
    filter: drop-shadow(0px 0px 10px var(--dark));
    /* * TRANSITION zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
    transition: all .25s ease;

    /* * HOVER ANIMATION zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
    &:hover {
        /* * TRANSFORM zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
        transform: scale(1.10) translate(0, 20px) rotate(360deg) skew(10deg);
    }
}